<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="/Static/CSS/OTPVerification.css">
</head>

<body>
    <div class="container">
        <h1>OTP Verification</h1>
        <p>Enter the 6-digit code sent to your email</p>
        <div class="otp-inputs">
            <input type="text" class="otp-box" maxlength="1" pattern="[0-9]" inputmode="numeric">
            <input type="text" class="otp-box" maxlength="1" pattern="[0-9]" inputmode="numeric">
            <input type="text" class="otp-box" maxlength="1" pattern="[0-9]" inputmode="numeric">
            <input type="text" class="otp-box" maxlength="1" pattern="[0-9]" inputmode="numeric">
            <input type="text" class="otp-box" maxlength="1" pattern="[0-9]" inputmode="numeric">
            <input type="text" class="otp-box" maxlength="1" pattern="[0-9]" inputmode="numeric">
        </div>
        <button>Verify</button>
    </div>
    <script src="/Static/modules/customAlert.js"></script>
    <script src="/Static/JS/OTPVerification.js"></script>
</body>

</html>